.card-form {
    width: 40vw;
    height: 50vh;
    position: fixed;
    left: 30vw;
    top: 25vh;
    background-color: rgba(255,255,255, 0.5);
    border: 0.2vh solid black;
    border-radius: 2vh;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.media-container {
    width: 38vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.logo {
    width: 10vh;
    height: 10vh;
}
.input-line {
    width: 18vw;
    display: flex;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 9vw;
    margin-right: 11vw;
    position: relative;
    left: 0;
    top: 0;
}
.intro {
    font-size: medium;
    font-weight: bold;
    width: 4vw;
}
.my-input {
    width: 14vw;
}
.el-button--form-button.is-active,
.el-button--form-button:active {
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-color: white;
    width: 7vw;
    height: 5vh;
    /*margin-left: 12.67vw;*/
    /*margin-right: 13.33vw;*/
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.el-button--form-button:focus,
.el-button--form-button:hover {
    color: black;
    background-color: rgba(0,0,0,0.1);
    border-color: black;
    width: 7vw;
    height: 5vh;
    /*margin-left: 12.67vw;*/
    /*margin-right: 13.33vw;*/
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.el-button--form-button {
    color: black;
    background-color: rgba(255,255,255,0);
    border-color: black;
    width: 7vw;
    height: 5vh;
    /*margin-left: 12.67vw;*/
    /*margin-right: 13.33vw;*/
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.href-container {
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}